@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.card {
  padding: 2em;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

@font-face {
  font-family: 'sourcesanspro';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url(https://design.penpot.app/fonts/sourcesanspro-regular.woff) format('woff');
}

html, body {
margin: 0;
min-height: 100%;
min-width: 100%;
padding: 0;
}

body {
display: flex;
flex-direction: column;
align-items: center;
width: 100vw;
min-height: 100vh;
}

* {
box-sizing: border-box;
}

.text-node { background-clip: text !important; -webkit-background-clip: text !important; }

/* Board */
.board-19e9e02bf607 {
position: relative;
width: 1280px;
height: 800px;
background: #2d2828FF;
border-radius: 0px 0px 0px 0px;
overflow: hidden;
z-index: 0;
}

/* Run Button */
.run-button-19ede88b5463 {
position: absolute;
left: 565px;
top: 144px;
width: 150px;
height: 41px;
background: #d6ce5cFF;
border-radius: 50%;
}

/* Server Selectbox */
.server-sel-19ebb17bba27 > svg {
position: absolute;
top: 0px;
left: 0px;
transform: translate(0px,0px);
}
.server-sel-19ebb17bba27 {
position: absolute;
left: 541px;
top: 99px;
width: 198px;
height: 30px;
}

/* Jitter Result */
.jitter-res-19eb8217ac19 {
position: absolute;
left: 802px;
top: 492px;
width: 250px;
height: 120px;
background: #B1B2B5FF;
border-radius: 0px 0px 0px 0px;
}

/* Jitter */
.jitter-19eb8217ac18 {
position: absolute;
left: 858px;
top: 455px;
width: 139px;
height: 22px;
}
.jitter-19eb8217ac18 .root-0 {


display: flex;
white-space: break-spaces;
align-items: flex-start;
}
.jitter-19eb8217ac18 .root-0-paragraph-set-0 {
display: inline-flex;
flex-direction: column;
justify-content: inherit;
min-width: 100%;
margin-right: 1px;
vertical-align: top;
}
.jitter-19eb8217ac18 .root-0-paragraph-set-0-paragraph-0 {
font-size: 0;
line-height: 1.2;
margin: 0;
text-align: center;
}
.jitter-19eb8217ac18 .root-0-paragraph-set-0-paragraph-0-text-0 {
color: rgba(214, 167, 167, 1);
text-transform: none;

line-break: auto;
overflow-wrap: initial;
white-space: break-spaces;
font-size: 20px;
text-rendering: geometricPrecision;
caret-color: rgba(214, 167, 167, 1);
text-decoration: none;
letter-spacing: 0px;
font-family: "sourcesanspro";
font-style: normal;
font-weight: 400;
}

/* Group */
.group-19ed8c6da20e {
position: absolute;
left: 22px;
top: 446px;
width: 537px;
height: 275px;
}

/* Max */
.max-19ec10b360a8 {
position: absolute;
left: 475px;
top: 236px;
width: 62px;
height: 39px;
background: #B1B2B5FF;
border-radius: 0px 0px 0px 0px;
}

/* Average */
.average-19ec10b360a7 {
position: absolute;
left: 475px;
top: 166px;
width: 62px;
height: 39px;
background: #B1B2B5FF;
border-radius: 0px 0px 0px 0px;
}

/* Last */
.last-19ec10b360a6 {
position: absolute;
left: 475px;
top: 97px;
width: 62px;
height: 39px;
background: #B1B2B5FF;
border-radius: 0px 0px 0px 0px;
}

/* Upload Speed Graph */
.upload-spe-19eb2e0d6cbf {
position: absolute;
left: 21px;
top: 35px;
width: 422px;
height: 240px;
background: #B1B2B5FF;
border-radius: 0px 0px 0px 0px;
}

/* Upload Speed */
.upload-spe-19eb621a1c22 {
position: absolute;
left: 0px;
top: 0px;
width: 465px;
height: 40px;
}
.upload-spe-19eb621a1c22 .root-0 {


display: flex;
white-space: break-spaces;
align-items: flex-start;
}
.upload-spe-19eb621a1c22 .root-0-paragraph-set-0 {
display: inline-flex;
flex-direction: column;
justify-content: inherit;
min-width: 100%;
margin-right: 1px;
vertical-align: top;
}
.upload-spe-19eb621a1c22 .root-0-paragraph-set-0-paragraph-0 {
font-size: 0;
line-height: 1.2;
margin: 0;
text-align: center;
}
.upload-spe-19eb621a1c22 .root-0-paragraph-set-0-paragraph-0-text-0 {
color: rgba(214, 167, 167, 1);
text-transform: none;

line-break: auto;
overflow-wrap: initial;
white-space: break-spaces;
font-size: 20px;
text-rendering: geometricPrecision;
caret-color: rgba(214, 167, 167, 1);
text-decoration: none;
letter-spacing: 0px;
font-family: "sourcesanspro";
font-style: normal;
font-weight: 400;
}

/* Group */
.group-19edb61b5cff {
position: absolute;
left: 0px;
top: 129px;
width: 559px;
height: 279px;
}

/* Max */
.max-19ec0b88777e {
position: absolute;
left: 497px;
top: 240px;
width: 62px;
height: 39px;
background: #B1B2B5FF;
border-radius: 0px 0px 0px 0px;
}

/* Average */
.average-19ec0966acca {
position: absolute;
left: 497px;
top: 171px;
width: 62px;
height: 39px;
background: #B1B2B5FF;
border-radius: 0px 0px 0px 0px;
}

/* Last */
.last-19ec0174dd0c {
position: absolute;
left: 497px;
top: 101px;
width: 62px;
height: 39px;
background: #B1B2B5FF;
border-radius: 0px 0px 0px 0px;
}

/* Download Speed Graph */
.download-s-19eb14a4acc3 {
position: absolute;
left: 43px;
top: 37px;
width: 422px;
height: 240px;
background: #B1B2B5FF;
border-radius: 0px 0px 0px 0px;
}

/* Download Speed */
.download-s-19eb42d834b7 {
position: absolute;
left: 0px;
top: 0px;
width: 465px;
height: 40px;
}
.download-s-19eb42d834b7 .root-0 {


display: flex;
white-space: break-spaces;
align-items: flex-start;
}
.download-s-19eb42d834b7 .root-0-paragraph-set-0 {
display: inline-flex;
flex-direction: column;
justify-content: inherit;
min-width: 100%;
margin-right: 1px;
vertical-align: top;
}
.download-s-19eb42d834b7 .root-0-paragraph-set-0-paragraph-0 {
font-size: 0;
line-height: 1.2;
margin: 0;
text-align: center;
}
.download-s-19eb42d834b7 .root-0-paragraph-set-0-paragraph-0-text-0 {
color: rgba(214, 167, 167, 1);
text-transform: none;

line-break: auto;
overflow-wrap: initial;
white-space: break-spaces;
font-size: 20px;
text-rendering: geometricPrecision;
caret-color: rgba(214, 167, 167, 1);
text-decoration: none;
letter-spacing: 0px;
font-family: "sourcesanspro";
font-style: normal;
font-weight: 400;
}

/* Ping Result */
.ping-resul-19eb35c5178f {
position: absolute;
left: 802px;
top: 173px;
width: 250px;
height: 120px;
background: #B1B2B5FF;
border-radius: 0px 0px 0px 0px;
}

/* Select Server */
.select-ser-19ebbdc01046 {
position: absolute;
left: 559px;
top: 70px;
width: 163px;
height: 29px;
}
.select-ser-19ebbdc01046 .root-0 {


display: flex;
white-space: break-spaces;
align-items: flex-start;
}
.select-ser-19ebbdc01046 .root-0-paragraph-set-0 {
display: inline-flex;
flex-direction: column;
justify-content: inherit;
min-width: 100%;
margin-right: 1px;
vertical-align: top;
}
.select-ser-19ebbdc01046 .root-0-paragraph-set-0-paragraph-0 {
font-size: 0;
line-height: 1.2;
margin: 0;
text-align: center;
}
.select-ser-19ebbdc01046 .root-0-paragraph-set-0-paragraph-0-text-0 {
color: rgba(214, 167, 167, 1);
text-transform: none;

line-break: auto;
overflow-wrap: initial;
white-space: break-spaces;
font-size: 20px;
text-rendering: geometricPrecision;
caret-color: rgba(214, 167, 167, 1);
text-decoration: none;
letter-spacing: 0px;
font-family: "sourcesanspro";
font-style: normal;
font-weight: 400;
}

/* Ping */
.ping-19eb72f760e2 {
position: absolute;
left: 834px;
top: 132px;
width: 187px;
height: 40px;
}
.ping-19eb72f760e2 .root-0 {


display: flex;
white-space: break-spaces;
align-items: flex-start;
}
.ping-19eb72f760e2 .root-0-paragraph-set-0 {
display: inline-flex;
flex-direction: column;
justify-content: inherit;
min-width: 100%;
margin-right: 1px;
vertical-align: top;
}
.ping-19eb72f760e2 .root-0-paragraph-set-0-paragraph-0 {
font-size: 0;
line-height: 1.2;
margin: 0;
text-align: center;
}
.ping-19eb72f760e2 .root-0-paragraph-set-0-paragraph-0-text-0 {
color: rgba(214, 167, 167, 1);
text-transform: none;

line-break: auto;
overflow-wrap: initial;
white-space: break-spaces;
font-size: 20px;
text-rendering: geometricPrecision;
caret-color: rgba(214, 167, 167, 1);
text-decoration: none;
letter-spacing: 0px;
font-family: "sourcesanspro";
font-style: normal;
font-weight: 400;
}

/* Welcome to the Private SpeedTest! */
.welcome-to-19ea89a0c53d {
position: absolute;
left: 0px;
top: 50px;
width: 465px;
height: 40px;
}
.welcome-to-19ea89a0c53d .root-0 {


display: flex;
white-space: break-spaces;
align-items: flex-start;
}
.welcome-to-19ea89a0c53d .root-0-paragraph-set-0 {
display: inline-flex;
flex-direction: column;
justify-content: inherit;
min-width: 100%;
margin-right: 1px;
vertical-align: top;
}
.welcome-to-19ea89a0c53d .root-0-paragraph-set-0-paragraph-0 {
font-size: 0;
line-height: 1.2;
margin: 0;
text-align: center;
}
.welcome-to-19ea89a0c53d .root-0-paragraph-set-0-paragraph-0-text-0 {
color: rgba(214, 167, 167, 1);
text-transform: none;

line-break: auto;
overflow-wrap: initial;
white-space: break-spaces;
font-size: 25px;
text-rendering: geometricPrecision;
caret-color: rgba(214, 167, 167, 1);
text-decoration: none;
letter-spacing: 0px;
font-family: "sourcesanspro";
font-style: normal;
font-weight: 400;
}